body {
	font-family: verdana, sans-serif;
	text-rendering : optimizeLegibility;
	-webkit-font-smoothing : antialiased;
}

.header{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1%;
}

.name {
  color: #289cdb;
  font-size: 1.5em;
}

.title {
  color: #a1a1a1;
   font-size: 1.2em;
}

/* Set up top navbar */
.navbar {
  font-size: 0.9em;
  padding: 0.5%
}

.navbar a {
  height: 5%;
  width: auto;
  border: none;
  padding: 1%;
  margin: 1%;
  color: #5A5A5A;
  text-decoration: none;
}

.navbar a:link {
    color: #5D6D7E;
		text-decoration: none;

}

.navbar a:hover {
		text-decoration: none;
		font-weight:bold;
    color: #688db4;
}

a:visited {
    color: #75A4BE;
		text-decoration: none;
}

/* Set up overall columns */
.mainbox {
    margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex: 1 0 10%;
  align: center;
  width: 60%;
}

/* Set up sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 0 10%;
  margin: 2%;
  padding: 2%:
}

/* Set up mainbox */
.contentbox {
  display: flex;
  flex-direction: row;
  flex: 1 0 75%;
  margin: 5%;
  padding: 5%:
}

.contact{
  margin: 10%;
  font-size: 0.9em;
  text-align: center;
}

.photo {
  width: 15%;
  margin: 10%
}

img {
  border-radius: 50%;
}

/* Set up to not display at start */
.pub {
  display: none;
  font-size: 0.8em;
}

.proj {
  display: none;
  font-size: 0.8em;
}

.intro {
  font-size: 0.85em;
}

/* Mobile layout */
@media screen and (max-width: 500px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
