body {
	line-height: 1;
	font-family: sans-serif;
	text-rendering : optimizeLegibility;
	-webkit-font-smoothing : antialiased;
	font-size: 20px;
	padding-left: 20%;
	padding-top: 1%;
	max-width: 50%;

}

.flex-container {
  display: flex;
}


.block1 {
  width: 600px;
  margin: 20px;

}

.block2 {
  width: 600px;
  margin: 20px;
  padding: 20px;
  font-size: 15px;

}

.intro {
  width: 400px;
  margin-left: 30px;
	margin-top: 0px;
  font-size: 15px;

}

.img {
	border-radius: 50%;
}

.block3 {
  width: 600px;
  margin: 20px;
  font-size: 15px;
  display: none;
	padding: 20px;

}

.block4 {
  display: none;
	width: 800px;
	margin: 10px;
	font-size: 15px;
	padding: 10px;


}

.name {
  font-size: 35px;
  color: #75A4BE;
}

.subhead {
  font-size: 20px;
  color:   #5D6D7E;
}

.linksbox {
  font-size: 15px;
  margin-top: 15px;
}

a.button {
  height: 20px;
  width: auto;
  border: none;
  padding: 5px;
  margin: 2px;
  background-color: #F1F1F1;
  color: #5A5A5A;
  text-decoration: none;
}

a:link {
    color: #5D6D7E;
		text-decoration: none;

}

a:hover {
		text-decoration: none;
		font-weight:bold;

}

a:visited {
    color: #75A4BE;
		text-decoration: none;
}

.project {
    margin: 0px 0;
    border-bottom: 1px solid #ccc;
}
.project h3 {
    margin: 0;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

.project-info {
    display: block;
    padding: 10px;
    background-color: #fff;
    border: 3px solid #ccc;
    border-radius: 5px;
}
